<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>

        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>
        
        <property name="hibernate.connection.url">
            jdbc:postgresql://localhost:5432/demo
        </property>
        
        <property name="hibernate.connection.username">
            postgres
        </property>

        <property name="hibernate.connection.password">
            1209
        </property>
        
        <property name="hibernate.hbm2ddl.auto">
         <!--
         validate: validate the schema, makes no changes to the database.
         create-only: database creation will be generated.
         drop: database dropping will be generated.
         update: update the schema.
         create: creates the schema, destroying previous data.
         create-drop: drop the schema when the SessionFactory is closed explicitly, typically when the application is stopped.
         none: does nothing with the schema, makes no changes to the database
         -->
            update
        </property>
        
        <property name="hibernate.show_sql">
            true <!-- set to true if we want to see what query hibernate is using internally. -->
        </property>
        
        <property name="hibernate.format_sql">
             true <!-- set to true if we want to see the query in a formatted way. -->
        </property>

        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect
            <!-- Hibernate uses "dialect" configuration to know which database
            you are using so that it can switch to the database specific SQL generator code -->
        </property>
    </session-factory>
</hibernate-configuration>